<h1><%= @visit.discharge_date %></h1>
<table class='center'>
  <tr>
    <th>Name</th>
    <th>Intake Date</th>
    <th>Discharge Date</th>
  </tr>
  <tr>
    <td><%= @pet.name %></td>
    <td><%= @visit.intake_date %></td>
    <td><%= @visit.discharge_date %></td>
  </tr>
  <p><%= @visit.treatment_notes %></p>
</table>

<footer><a href="/pets/<%= @pet.id %>"> Back</a></footer>
