<h1>Pets</h1>
<table class="center">
  <tr>
    <th>Name</th>
    <th>Species</th>
    <th>Owner</th>
  </tr>
  <% @pets.each do |pet| %>
  <tr>

    <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
    <td><%= pet.species %></td>
    <td><a href="/clients/<%= pet.client_id %>"><%= pet.client.full_name %></a></td>

  </tr>
  <% end %>
</table>
<p><a href="/pets/new">Add Pet</a></p>
