<h1><%= @client.full_name %></h1>
<p>Details</p>
<table class="center">
  <tr>
    <th>Contact Number</th>
    <th>Email</th>
  </tr>
  <tr>
    <td><%= @client.contact_number %></td>
    <td><%= @client.email %></td>
  </tr>
</table>
<p>Pets</p>
<table class="center">
  <tr>
    <th>Name</th>
  </tr>
  <% @pets.each do |pet| %>
  <tr>

    <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>

  </tr>
  <% end %>
  </table>
  <br>
  <p><a href="/clients/<%= @client.id %>/edit">Edit details</a></p>
  <form action="/clients/<%= @client.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <p><a href="/clients">All Clients</a></p>
