<h1><%= @vet.name %></h1>
<h5>Primary Vet for:</h5>
<% @pets.each do |pet| %>
<p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
<% end %>
<footer><a href="/vets/<%= @vet.id %>/edit">Edit details</a>
<form action="/vets/<%= @vet.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
<a href="/vets">All Vets</a></footer>
